GROQ_KEY = #Insert your GROQ key from https://console.groq.com/keys

"""It is free to create an account and generate a key, and you can use the same key for both development and production. 
Just make sure not to share your key publicly or commit it to version control!
You can use the same key from the DeCoded session!
"""
